include ../icon/icon.pug

mixin dropdown(options)
  -
    const {
      isExpanded,
      title, 
      hint, 
      type, 
      name, 
      placeholder, 
      calendar,
      rows =[] 
    } = options || {}

    const dropdownClass = `dropdown dropdown__type_${type}`;
    const JSClass = type === 'date' 
      ? ` js-dropdown__type_${type}` 
      : ` js-dropdown js-dropdown__type_${type}`;
    let listClass = 'dropdown__list js-dropdown__list';
    listClass += isExpanded ? 
      ' dropdown__list_expanded js-dropdown__list_expanded' 
      : '';

  div(class=dropdownClass + JSClass)
    if title
      h3.dropdown__title= title
    if hint
      p.dropdown__hint= hint
    .dropdown__box(class=`js-dropdown__box dropdown__box_${type}`)
      input.dropdown__input(
        name=name,
        placeholder=placeholder,
        readonly="readonly",
        class=`js-dropdown__input dropdown__input_${type}`
      )
      button.dropdown__button-icon(type="button")
        +icon({ icon: 'expand_more' })
      if !calendar
        ul(class=listClass)
          if rows
            each row in rows
              - const { typeOfCount, text, count } = row;
              - const listItemClass = `dropdown__list-item_${typeOfCount}`;
              - const JSListItemClass = ` js-${listItemClass}`;
              li.dropdown__list-item(
                class=`${listItemClass}${JSListItemClass} js-dropdown__list-item`
              )
                h3.dropdown__item-name= text
                .dropdown__counter-buttons
                  -
                    let minusButtonClass = 'dropdown__counter-button-minus js-dropdown__counter-button-minus';
                    minusButtonClass += count < 1 
                      ? ' dropdown__counter-button-minus_disabled' 
                      : '';
                    let clearButtonClass = 'dropdown__clear-button js-dropdown__clear-button';
                    clearButtonClass += count < 1 
                      ? ' dropdown__clear-button_hidden' 
                      : '';
                  button(class=minusButtonClass, type="button")= '-'
                  h3.dropdown__counter(
                    class=` js-dropdown__counter js-dropdown__counter_${typeOfCount}`
                  )= count
                  button.dropdown__counter-button-plus.js-dropdown__counter-button-plus(
                    type="button"
                  )= '+'
          if type === "guest"
            li.dropdown__footer-buttons 
              span.dropdown__clear-button.js-dropdown__clear-button
                button.dropdown__button.dropdown__button_theme_textual(
                  type="button"
                )
                  span.dropdown__button-caption.dropdown__button-caption_color_main= 'ОЧИСТИТЬ'
              span.dropdown__apply-buttons.js-dropdown__apply-buttons
                button.dropdown__button.dropdown__button_theme_textual(
                  type="button"
                )
                  span.dropdown__button-caption.dropdown__button-caption_color_main= 'ПРИМЕНИТЬ'
