mixin dropdown(options)
  - const {rows =[] } = options || {}

  div.dropdown
    span.dropdown__title= options.title
    if options.hint
      span.dropdown__hint= options.hint
    div.dropdown__box
      input.dropdown__input(name = options.name, placeholder = options.placeholder, readonly="readonly")
      button.dropdown__button(type="button")
      ul.dropdown__list
        each row in rows
          li.dropdown__list-item
            .dropdown__item-name= row.text
            .dropdown__counter-buttons
              - const decButtonClass = row.count < 1 ? "dropdown__counter-buttons_type_dec_disabled" : "dropdown__counter-buttons_type_dec"
              button(class=decButtonClass, type="button")= "-"
              span.dropdown__counter= row.count
              button(class="dropdown__counter-buttons_type_inc", type="button")= "+"
          if options.type === "guest"
            li.dropdown__footer-buttons
              - const clearButtonClass = row.count < 1 ? "dropdown__clear-buttons_hidden" : "dropdown__clear-buttons" 
              span(class = clearButtonClass)
                button.dropdown__button_theme_textual.dropdown__button_theme_textual_hovered(type="button")
                  span.dropdown__button-caption= "Очистить"
              span(class = "dropdown__apply-buttons")
                button.dropdown__button_theme_textual(type="button")
                  span.dropdown__button-caption= "Применить"