mixin input(options)
  -
    const { 
      isData, 
      title, 
      hint, 
      type, 
      name, 
      placeholder, 
      value, 
      withButton 
    } = options || {};

    let titleClassName = "input__title"
    titleClassName += isData ? " input__title_type_data" : ""
    let inputClassName = "input__input"
    inputClassName += isData 
      ? " input__input_type_data js-input__input_type_data" 
      : ""

  .input
    if title || hint
      .input__header
      if title
        span(class=titleClassName)= title
      if hint
        span.input__hint= hint
    .input__box
      input(
        type=type,
        class=inputClassName,
        name=name,
        placeholder=placeholder,
        value=value
      )
      if withButton
        button.input__submit-button(type="submit")
