include ../icon/icon.pug

mixin button(options)
  -
    const {
      theme, 
      isLarge, 
      isDisabled, 
      isTransparentDisabled, 
      isArrow,
      textTheme,
      href, 
      text,
      isLogInButton,
      isRegistrationButton
    } = options || {}

    let buttonClass = 'button js-button';
    let textClass = 'button__text';
    buttonClass += theme === 'main' ? ' button_theme_main' : '';
    buttonClass += theme === 'white' ? ' button_theme_white' : '';
    buttonClass += theme === 'transparent' ? ' button_theme_transparent' : '';
    buttonClass += isLarge ? ' button_size_large' : '';
    buttonClass += isDisabled ? ' button_disabled' : '';
    buttonClass += isTransparentDisabled ? ' button_transparent_disabled' : '';
    buttonClass += isLogInButton ? ' button__log-in-button' : ''
    buttonClass += isRegistrationButton ? ' button__registration-button' : ''
    textClass += textTheme === 'main' ? ' button__text_theme_main' : '';
    textClass += textTheme === 'white' ? ' button__text_theme_white' : '';

  if href
    a.button__link(href=href) 
      div(class=buttonClass)
        span.button__group.button__group_with-href
          span(class=textClass)= text
          if isLarge
            span.button__icon
              +icon({ icon: 'arrow_forward' })
  if !href
    button(class=buttonClass) 
      span.button__group
        span(class=textClass)= text
        if isLarge && isArrow
          span.button__icon
            +icon({ icon: 'arrow_forward' })
