mixin color(options)
  - const { color, title, subtitle } = options || {};

  .color(class=color)
    .color__box
    h2.color__title(class=title) #{ title }
    .color__subtitle(class=subtitle) #{ subtitle }
