include ../icon/icon.pug

mixin expandable-checkbox-list(options)
  -
    const { isExpanded, title, rows = [] } = options || {};
    let mainClass = 'expandable-checkbox-list js-expandable-checkbox-list';
    mainClass += isExpanded 
      ? ' expandable-checkbox-list_expanded js-expandable-checkbox-list_expanded' 
      : '';
    const listClass = 'expandable-checkbox-list__list';
    const buttonClass = 'expandable-checkbox-list__toggle-button';

  div(class=mainClass)
    .expandable-checkbox-list__header.js-expandable-checkbox-list__header
      span.expandable-checkbox-list__title= title
      button.material-icons(class=buttonClass, type="button")
        +icon({ icon: 'expand_more' })
    ul(class=listClass)
      if rows
        each row in rows
          - const { name, title, isChecked = false } = row;
          li.expandable-checkbox-list__item
            label.expandable-checkbox-list__label
              input&attributes({
                class: "expandable-checkbox-list__input",
                type: "checkbox",
                name: name,
                checked: isChecked,
              })
              span.expandable-checkbox-list__checkbox
              span.expandable-checkbox-list__title= title
