mixin range-slider(options)
  - const { title, min, max, description } = options || {};

  .range-slider.js-range-slider 
    .range-slider__header
      span.range-slider__title= title
      span.range-slider__count
        input.range-slider__input-min.js-range-slider__input-min(
          type="text",
          value=min
        )
        span.range-slider__separator= '-'
        input.range-slider__input-max.js-range-slider__input-max(
          type="text",
          value=max
        )
    .range-slider__slider.js-range-slider__slider
    if description
      p.range-slider__description= description
