include ../../components/logo/logo.pug
include ../../components/button/button.pug
include ../icon/icon.pug

mixin header(options)
  -
    const { menuLinkDefault } = require('../../components/header/default-link.json');
    const { menuLink = menuLinkDefault, auth = false } = options || {};
    let classLink = 'header__link';
    let classSubMenu = 'header__sub-menu';
    let classSubLink = 'header__link header__sub-link';
    let classUser = 'header__user-menu';

  .header.js-header
    .header__container
      nav.header__navigation 
        .header__logo
          +logo(true)
        button.header__burger.js-header__burger
          +icon({ icon: 'menu' })
        .header__menu-group.js-header__menu-group
          ul.header__menu
            each link in menuLink
              -
                const { bold, subMenu, href, name } = link;
                const classLink = bold 
                  ? 'header__link header_bold' 
                  : 'header__link';
                const classSubMenu = bold 
                  ? 'header__sub-menu js-header__sub-menu header_bold' 
                  : 'header__sub-menu js-header__sub-menu';
              if !subMenu
                li.header__link-li
                  a(class=classLink, href=href)= name
              if subMenu
                li.header__link-li
                  div(class=classSubMenu) 
                    a(class=classLink, href=href)= name
                    .header__dropdown.js-header__dropdown
                      each subLink in subMenu
                        - const { href, name } = subLink;
                        a(class=classSubLink, href=href)= name
                    span.header__sub-menu-icon.js-header__sub-menu-icon
                      +icon({ icon: 'expand_more' })
          if !auth
            - classUser += ' header__user-menu_not-auth';
            div(class=classUser)
              //- prettier-ignore 
              +button({ 
                theme: 'white', 
                textTheme: 'purple', 
                text: 'войти', 
                isLogInButton: true,
                href: './sign-in-page.html' 
              })
              //- prettier-ignore 
              +button({ 
                theme: 'purple', 
                textTheme: 'white', 
                text: 'зарегистрироваться', 
                isRegistrationButton: true,
                href: './registration.html' 
              }) 
          if auth
            - classUser += ' header__user-menu_auth';
            - const { name, surname } = auth;
            div(class=classUser)
              a.header__user-name(href="./error-page.html")= `${name} ${surname}`
