include ../../components/dropdown/dropdown.pug
include ../../components/dateDropdown/dateDropdown.pug
include ../../components/button/button.pug

mixin bookingForm(options)
  - 
   let { 
    numberValue = '888', 
    numberFeature = 'люкс', 
    cost = '9 990₽',
    dateUnit = 'в сутки',
    amountForDaysName = '9 990₽ х 4 суток',
    amountForDaysCurrency = '39 960₽',
    discountName = 'Сбор за услуги: скидка 2 179₽',
    discountTooltip = 'change me',
    discountCurrency = '0₽',
    priceOfServicesName = 'Сбор за дополнительные услуги',
    priceOfServicesTooltip = 'change me',
    priceOfServicesCurrency = '300₽',
    totalValue = '38 081₽'
     } = options || {}
  

  form(action="/change me").bookingForm.js-bookingForm
    div.bookingForm__header
      div.bookingForm__number
        span.bookingForm__NumberSymbol= '№'
        span.bookingForm__numberValue= numberValue
        span.bookingForm__numberFeature= numberFeature
      div.bookingForm__price-per-day
        span.bookingForm__cost= cost
        span.bookingForm__dateUnit= dateUnit
    div.bookingForm__calendar 
      +dateDropdown({titleStart:"Прибытие", titleEnd:"Выезд", type:'double',isExpanded:false})
    div.bookingForm__dropdown_type_guests
      +dropdown({title:"Гости", name:"guestNumber", placeholder:"Сколько гостей",type:"guest",rows: [
        {count: 0, text: 'взрослые', typeOfCount:'adult'},
        {count: 0, text: 'дети', typeOfCount:'children'},
        {count: 0, text: 'младенцы', typeOfCount:'baby'},
      ]})
    div.bookingForm__result
      div.bookingForm__amount-for-days
        div.bookingForm__result_type_name-service= amountForDaysName
        div.bookingForm__result_type_currency= amountForDaysCurrency
      div.bookingForm__discount
        div.bookingForm__result_type_name-service= discountName
        div.bookingForm__result_type_info
          span(data-tooltip= discountTooltip).bookingForm__info-icon.material-icons= 'info_outline'
        div.bookingForm__result_type_currency= discountCurrency
      div.bookingForm__price-of-services
        div.bookingForm__result_type_name-service= priceOfServicesName
        div.bookingForm__result_type_info
          span(data-tooltip= priceOfServicesTooltip).bookingForm__info-icon.material-icons= 'info_outline'
        div.bookingForm__result_type_currency= priceOfServicesCurrency
      div.bookingForm__total 
        span.bookingForm__totalTitle='Итого'
        span.bookingForm__totalLine
        span.bookingForm__totalValue= totalValue
    div.bookingForm__button 
      +button({theme:'purple', textTheme:'white', text:'забронировать', isLarge: true})
