mixin type(options)
  - const {tag, title, subtitle} = options || {}
  - let mainClass = 'type type_'
  - mainClass += tag
  - let subtitleClass = 'type-subtitle'
  - subtitleClass += tag === 'p' ? `__${tag}` : ''

  div(class = mainClass)
    #{tag}.type-title #{title}
    #{tag}(class= subtitleClass) #{subtitle}
