mixin type(options)
  -

  div.type(class = `type_${options.title}`)
    #{options.title}.type-title #{options.title}
    #{options.title}.type-subtitle #{options.subtitle}

mixin body(options)
  -

  .type.colorsAndTypes-type_body
    p.type-title #{options.title}
    p.type-subtitle__text #{options.subtitle}


