mixin type(options)
  - const {title, subtitle} = options || {}

  div.type(class = `type_${title}`)
    #{title}.type-title #{title}
    #{title}.type-subtitle #{subtitle}

mixin body(options)
  - const {title, subtitle} = options || {}

  .type.colorsAndTypes-type_body
    p.type-title #{title}
    p.type-subtitle__text #{subtitle}


