mixin type(options)
  -

  .type
    #{options.title}.type-title #{options.title}
    #{options.title}.type-subtitle #{options.subtitle}

mixin body(options)
  -

  .type.colorsAndTypes-type_body
    p.type-title #{options.title}
    p.type-subtitle #{options.subtitle}


    