include ../../components/logo/logo.pug
include ../../components/input/input.pug

mixin footer(options = {})
  - const { menuLinkDefault } = require("../../components/footer/default-link.json"); 
  
  -
    const {
    aboutUs = 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»', 
    menuLink = menuLinkDefault, 
    subscribeTitle = 'Подписка', 
    subscribeText = 'Получайте специальные предложения и новости сервиса',
    copyrightText = 'Copyright © 2018 Toxin отель. Все права защищены.',
    isSmall = false,
    } = options

  -
  - let footerClass = 'footer'
  - footerClass += isSmall ? ' footer_size_small' : ''
  
  
  div(class = footerClass)
    .footer__main-border
      .footer__container
        .footer__main-area 
          .footer__about-us
            .footer__logo 
              +logo(true)
            p.footer__about-us-text= aboutUs
          .footer__navigation
            each item in menuLink
              .footer__navigation-row
                h3.footer__navigation-title= item.title
                ul.footer__navigation-list
                  each link in item.links
                    li.footer__navigation-item
                      a(href = link.href).footer__navigation-link= link.name
          form(action="./error-page.html").footer__subscribe-form
            h3.footer__subscribe-title= subscribeTitle
            p.footer__subscribe-txt= subscribeText
            .footer__input 
              +input({type:'email', name:'email', placeholder:'Email', withButton :true})
    .footer__container
      .footer__copyright-area
        p.footer__copyright-text= copyrightText
        div.footer__copyright-list
          li.footer__copyright-list-item
            a(href = 'https://twitter.com/', target='_blank', rel="noopener noreferrer").footer__twitter.fab.fa-twitter
          li.footer__copyright-list-item
            a(href = 'https://facebook.com/', target='_blank', rel="noopener noreferrer").footer__facebook.fab.fa-facebook-square
          li.footer__copyright-list-item
            a(href = 'https://instagram.com/', target='_blank', rel="noopener noreferrer").footer__instagram.fab.fa-instagram

