mixin rateButton (options)
  - const ratingList = ['Ужасно', 'Так себе', 'Нормально' , 'Хорошо', 'Отлично']

  div(class='rateButton' , tabindex="0")
      if options.isVariable
        div.rateButton__group.material-icons
          div.rateButton__items
            - for(let i = options.base; i > 0 ; i--)
              if options.rate === i
                input.rateButton__input.material-icons(type="radio", name = options.name, id = `rating-${i}-${options.id}`, aria-label= `${ratingList[i-1]}`, checked)
                label.rateButton__label(for=`rating-${i}-${options.id}`) 
              else
                input.rateButton__input.material-icons(type="radio", name = options.name, id = `rating-${i}-${options.id}`, aria-label= `${ratingList[i-1]}`)
                label.rateButton__label(for=`rating-${i}-${options.id}`) 
      if !options.isVariable    
        - for(let i = 0; i < options.base; i++)
          - let iconClass = i >= options.rate ? "rateButton__icon_type_outline" : ""
          span.rateButton__icon.material-icons(class = iconClass)