include ../../components/dropdown/dropdown.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/button/button.pug

mixin booking-form(options)
  -
    let { 
     numberValue = "888", 
     numberFeature = "люкс", 
     cost = "9 990₽",
     dateUnit = "в сутки",
     amountForDaysName = "9 990₽ х 4 суток",
     amountForDaysCurrency = "39 960₽",
     discountName = "Сбор за услуги: скидка 2 179₽",
     discountTooltip = "change me",
     discountCurrency = "0₽",
     priceOfServicesName = "Сбор за дополнительные услуги",
     priceOfServicesTooltip = "change me",
     priceOfServicesCurrency = "300₽",
     totalValue = "38 081₽",
      } = options || {}


  form.booking-form.js-booking-form(action="./error-page.html")
    .booking-form__header
      .booking-form__number
        span.booking-form__number-symbol= '№'
        span.booking-form__number-value= numberValue
        span.booking-form__number-feature= numberFeature
      .booking-form__price-per-day
        span.booking-form__cost= cost
        span.booking-form__date-unit= dateUnit
    .booking-form__calendar
      //- prettier-ignore  
      +date-dropdown({ titleStart: "Прибытие", titleEnd: "Выезд", 
        type: "double", isExpanded: false })
    .booking-form__dropdown_type_guests
      //- prettier-ignore  
      +dropdown({title: "Гости", name: "guestNumber", placeholder: "Сколько гостей", 
        type: "guest", 
        rows: [ 
          {
            count: 0, text: "взрослые", typeOfCount: "adult"
          }, 
          {
            count: 0, text: "дети", typeOfCount: "children"
          }, 
          {
            count: 0, text: "младенцы", typeOfCount: "baby"
          }, 
        ]
      })
    .booking-form__result
      .booking-form__amount-for-days
        .booking-form__result_type_name-service= amountForDaysName
        .booking-form__result_type_currency= amountForDaysCurrency
      .booking-form__discount
        .booking-form__result_type_name-service= discountName
        .booking-form__result_type_info
          span.booking-form__info-icon.material-icons(
            data-tooltip=discountTooltip
          )= 'info_outline'
        .booking-form__result_type_currency= discountCurrency
      .booking-form__price-of-services
        .booking-form__result_type_name-service= priceOfServicesName
        .booking-form__result_type_info
          span.booking-form__info-icon.material-icons(
            data-tooltip=priceOfServicesTooltip
          )= 'info_outline'
        .booking-form__result_type_currency= priceOfServicesCurrency
      .booking-form__total 
        span.booking-form__total-title= 'Итого'
        span.booking-form__total-line
        span.booking-form__total-value= totalValue
    .booking-form__button 
      +button({ theme: "purple", textTheme: "white", text: "забронировать", isLarge: true })
