include ../../components/dropdown/dropdown.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/button/button.pug
include ../../components/icon/icon.pug

mixin booking-form(options)
  -
    const { 
      numberValue = "888", 
      numberFeature = "люкс", 
      cost = "9 990₽",
      dateUnit = "в сутки",
      amountForDaysName = "9 990₽ х 4 суток",
      amountForDaysCurrency = "39 960₽",
      discountName = "Сбор за услуги: скидка 2 179₽",
      discountTooltip = "change me",
      discountCurrency = "0₽",
      priceOfServicesName = "Сбор за дополнительные услуги",
      priceOfServicesTooltip = "change me",
      priceOfServicesCurrency = "300₽",
      totalValue = "38 081₽",
    } = options || {}


  form.booking-form.js-booking-form(action="./error-page.html")
    .booking-form__header
      .booking-form__number
        p.booking-form__number-symbol= '№'
        h1.booking-form__number-value= numberValue
        p.booking-form__number-feature= numberFeature
      .booking-form__price-per-day
        p.booking-form__cost= cost
        p.booking-form__date-unit= dateUnit
    .booking-form__calendar
      //- prettier-ignore  
      +date-dropdown({ 
        titleStart: "Прибытие", 
        titleEnd: "Выезд", 
        type: "double", 
        isExpanded: false 
      })
    .booking-form__dropdown
      //- prettier-ignore  
      +dropdown({
        title: "Гости", 
        name: "guestNumber", 
        placeholder: "Сколько гостей", 
        type: "guest", 
        rows: [ 
          {
            count: 0, text: "взрослые", typeOfCount: "adult"
          }, 
          {
            count: 0, text: "дети", typeOfCount: "children"
          }, 
          {
            count: 0, text: "младенцы", typeOfCount: "baby"
          }, 
        ]
      })
    section.booking-form__result
      .booking-form__amount-for-days
        p.booking-form__result-name-service= amountForDaysName
        p.booking-form__result-currency= amountForDaysCurrency
      .booking-form__discount
        p.booking-form__result-name-service= discountName
        .booking-form__result-info
          .booking-form__info-icon(data-tooltip=discountTooltip)
            +icon({ icon: 'info_outline' })
        p.booking-form__result-currency= discountCurrency
      .booking-form__price-of-services
        p.booking-form__result-name-service= priceOfServicesName
        .booking-form__result-info
          .booking-form__info-icon(data-tooltip=priceOfServicesTooltip)
            +icon({ icon: 'info_outline' })
        p.booking-form__result-currency= priceOfServicesCurrency
      .booking-form__total 
        h2.booking-form__total-title= 'Итого'
        span.booking-form__total-line
        h2.booking-form__total-value= totalValue
    .booking-form__button 
      //- prettier-ignore
      +button({ 
        theme: "main", 
        textTheme: "white", 
        text: "забронировать", 
        isLarge: true, 
        isArrow: true 
      })
