extends ../../layout/pages.pug

include ../../components/chart/chart.pug
include ../../components/bulletList/bulletList.pug
include ../../components/info/info.pug
include ../../components/feedback/feedback.pug
include ../../components/bookingForm/bookingForm.pug

block variables
  - let pageClass = 'roomDetails'

block main
  .roomDetails__images 
    img(src = require('./img/roomDetails_1.png').default, alt: '1').roomDetails__image
    img(src = require('./img/roomDetails_2.png').default, alt: '2').roomDetails__image
    img(src = require('./img/roomDetails_3.png').default, alt: '3').roomDetails__image
  .roomDetails__container 
    .roomDetails__content
      .roomDetails__about-room
        .roomDetails__info
          h2.roomDetails__info-title= 'Сведения о номере'
          +info({title:'Комфорт', subtitle:'Шумопоглощающие стены', icon:'insert_emoticon'})
          +info({title:'Удобство', subtitle:'Окно в каждой из спален', icon:'location_city'})
          +info({title:'Уют', subtitle:'Номер оснащён камином', icon:'whatshot'})          
        .roomDetails__chart
          h2.roomDetails__chart-title= 'Впечатления от номера'
          .roomDetails__chart-item
            +chart
      .roomDetails__reviews
        .roomDetails__reviews-header 
          h2.roomDetails__reviews-title= 'Отзывы посетителей номера'
          p.roomDetails__reviews-number= '2 отзыва'
        .roomDetails__reviews-items
          .roomDetails__reviews-item
            +feedback({src: require('../../img/murad.png').default, name:'Мурад Сарафанов', date:'5 дней назад', text:'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'})
          .roomDetails__reviews-item
            +feedback({src: require('../../img/patricia.png').default, name:'Патрисия Стёклышкова', date:'Неделю назад', text:'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент', count:'2', isPressed:false})
      .roomDetails__rules 
        .roomDetails__bulletList
          h2.roomDetails__bulletList-title= 'Правила'
          +bulletList({rows:[
          {text:'Нельзя с питомцами'},
          {text:'Без вечеринок и мероприятий'},
          {text:'Время прибытия — после 13:00, а выезд до 12:00'},
        ]})
        .roomDetails__cancel
          h2.roomDetails__cancel-title= 'Отмена'
          p.roomDetails__cancel-description= 'Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.'
      .roomDetails__booking
        +bookingForm
